{% extends "../base/index.njk" %}

{% block vender_css %}
  <link type="stylesheet" src="./vender.css" />
{% endblock %}
{% block page_css %}
  <link type="stylesheet" src="./vender.css" />
{% endblock %}
{% block vender_js %}
  <link type="stylesheet" src="./vender.js" />
{% endblock %}
{% block page_js %}
  <link type="stylesheet" src="./vender.js" />
{% endblock %}